.vscode/
.idea/
legacy/
build/
dist/
oxi.egg-info/
static/videos/
virtual-env/
oxi/examples/virtual-env/
oxi/examples/static/videos
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
oxi/__pycache__/
setup.sh
config.json

